<h2>edit post</h2>
<%= form_for [@category, @post, html: {multipart:true}] do |f|%>
  <%= f.text_area :title %>
  <%= f.text_area :content %>
  <%= form.file_field :image %>
  <%= submit_tag "Submit" %>
<%  end %>
