<div class="container">
  <h2 class="cyan-text text-darken-3">Edit This Posting</h2>
</div>


<%= form_for @post, html: {multipart:true} do |f|%>
  <%= f.text_area :title %>
  <%= f.text_area :content %>
  <%= f.file_field :image %>
  <%= link_to 'Add Another Tag', new_tag_path, :class => "addTag"%>
  <%= submit_tag "Submit" %>
<%  end %>
