<div class="container">
  <h2 class="cyan-text text-darken-3">Create A New Posting</h2>
</div>

<% if @errors %>
  <% @errors.each do |message| %>
    <%= message %> <br>
  <% end %>
<% end %>

<div class="container cyan-text text-darken-3">
  <div class="row">
    <div class="col s12 l10">
<%= form_for @post do |f|%>
<div class="field">
  <%= f.label :title %>
  <%= f.text_field :title %>
</div>

<div class="input-field">
  <select name="boardcategory[name]">
    <option value="Band Looking for Players">Band Looking for Players</option>
    <option value="Bands Needed">Bands Needed</option>
    <option value="For Sale">For Sale</option>
    <option value="Players Looking for Bands">Players Looking for Bands</option>
    <option value="Players Looking to Jam">Players Looking to Jam</option>
    <option value="Music Services">Music Services</option>
    <option value="Paid Gigs">Paid Gigs</option>
  </select>
  <label>Category</label>
</div>

<div class="field">
  <%= f.label :content %>
  <%= f.text_area :content %>
</div>
<br>

  <div id="tags">
    <%= link_to 'Add a Tag', new_tag_path %>
  </div>
<br>

<div class="center-align">
  <%= submit_tag "Submit", :class => "waves-effect waves-light btn", :id => "submitPost" %>
<%  end %>
    </div>
  </div>
</div>
</div>
