<h2>Edit <%= @user.username %></h2>


<%= form_for(@user, as: @user, url: "/users/#{@user.id}", html: { method: :put }) do |f| %>


  <div class="field">
    <%= f.label :first_name %><br />
    <%= f.text_field :first_name %>
  </div>

  <div class="field">
    <%= f.label :last_name %><br />
    <%= f.text_field :last_name %>
  </div>

  <div class="field">
    <%= f.label :location %><br />
    <%= f.text_field :location %>
  </div>

  <div class="field">
    <%= f.label :band_status %>
    <%= f.text_field :band_status %>
  </div>

  <div class="field">
    <%= f.label :experience %><br />
    <%= f.text_area :experience %>
  </div>

  <div class="field">
    <%= f.label :instruments %><br />
    <%= f.text_field :instruments %>
  </div>

  <div class="field">
    <%= f.label :bio %><br />
    <%= f.text_area :bio, autocomplete: "off" %>
  </div>

  <div class="field">
    <%= f.label :slogan %><br />
    <%= f.text_field :slogan, autocomplete: "off" %>
  </div>

  <div class="actions">
    <%= f.submit "Update" %>
  </div>
<% end %>

<h3>Cancel my account</h3>

<p>Unhappy? <%= button_to "Cancel my account", registration_path(@user), data: { confirm: "Are you sure?" }, method: :delete %></p>

<%= link_to "Back", :back %>
