<h3> Hey there, <%= @user.first_name %></h3>

<%= image_tag @user.avatar.url(:medium) %>
<% if current_user.id == @user.id %>
  <%= link_to("edit profile", edit_user_path(@user) ) %><br>
<% end %>
<%= @user.username %><br>
<%= @user.slogan %><br>
<%= @user.location %><br>
<%= @user.band_status %><br>
<%= @user.genre %><br>
<%= @user.bio %><br>
<%= @user.experience %><br>
<%= @user.instruments %><br>

<% if @location %>
  <p> Location: <%= link_to(@location.title, location_path(@location)) %> </p>
  <%= link_to("Update your location", new_location_path) %><br>
<%  end %>


<!-- <audio>
 <!-- <source type="audio/mp3"> -->
</audio> -->

<% @user.useraudiofiles.each do |file| %>
  <%= audio_tag file.media_file_name unless file.media_file_name.blank? %>
<% end %>


<% if current_user.id == @user.id %>

  <%= link_to("Change your password", edit_user_registration_path) %> | <%= link_to("Add audio files", new_useraudiofile_path) %>
<% end %>

<% if current_user.id != @user.id %>
  <%= button_to "Create Conversation", user_user_conversations_path(@user), method: "post"  %>
<% end %>
