<h3> Hey there, <%= @user.first_name %></h3>

<%= image_tag @user.avatar.url(:medium) %>

<%= @user.username %><br>
<%= @user.slogan %><br>
<%= @user.location %><br>
<%= @user.band_status %><br>
<%= @user.genre %><br>
<%= @user.bio %><br>
<%= @user.experience %><br>
<%= @user.instruments %><br>

<% if @location != nil %>
  <p> Location: <%= link_to(@user.location, location_path(@location)) %> </p>
<% else %>
  <p> Location: Not yet set </p>
<% end %>

<audio>
 <source src='/STC_Down_The_Road.mp3' type="audio/mp3">
</audio>

<%= link_to("Update your location", new_location_path) %><br>
<%= link_to("edit profile", edit_user_path(@user) ) %><br>
<%= link_to("Change your password", edit_user_registration_path) %>

<%= button_to "Create Conversation", user_user_conversations_path(@user), method: "post"  %>
