<h3> Hey there, <%= @user.first_name %></h3>

<%= image_tag @user.avatar.url(:medium) %>

<%= @user.username %><br>
<%= @user.slogan %><br>
<%= @user.location %><br>
<%= @user.band_status %><br>
<%= @user.genre %><br>
<%= @user.bio %><br>
<%= @user.experience %><br>
<%= @user.instruments %><br>



<audio controls>
  <source src="/assests/audio/stc_down_the_road.mp3" type="audio/mp3">
  <!-- <source src="/path/to/audio.ogg" type="audio/ogg"> -->
</audio>
<%= link_to("Add your location", new_location_path) %>
<%= link_to("edit profile", edit_user_path(@user) ) %><br>
<%= link_to("Change your password", edit_user_registration_path) %>

<%= button_to "Create Conversation", user_user_conversations_path(@user), method: "post"  %>
