<h3> Hey there, <%= @user.first_name %></h3>

<%= @user.username %><br>
<%= @user.slogan %><br>
<%= @user.location %><br>
<%= @user.band_status %><br>
<%= @user.genre %><br>
<%= @user.bio %><br>
<%= @user.experience %><br>
<%= @user.instruments %><br>


<%= link_to("edit profile", edit_user_path(@user) ) %><br>
<%= link_to "Change your password", edit_user_registration_path %>
