<div class="slider">
   <ul class="slides">
     <li>
      <%=image_tag "guitar.jpeg"%>
       <div class="caption left-align">
         <h1> <strong class="cyan-text text-darken-3">Plugged-In </strong> </h1>
         <h3 class="cyan-text text-accent-4">Connect with Other Musicians</h3>
       </div>
     </li>
     <li>
      <%=image_tag "guitar.jpeg"%>
       <div class="caption left-align">
         <h1> <strong class="cyan-text text-darken-3">Plugged-In </strong> </h1>
         <h3 class="cyan-text text-accent-4">Post Listing for Jam Sessions or Gigs</h3>
       </div>
     </li>
     <li>
      <%=image_tag "guitar.jpeg"%>
       <div class="caption left-align">
         <h1> <strong class="cyan-text text-darken-3">Plugged-In </strong> </h1>
         <h3 class="cyan-text text-accent-4">The Ultimate Hub for any Musician</h3>
       </div>
     </li>
   </ul>
 </div>
<br>

<%if !user_signed_in?%>
<div class="valign-wrapper">
<div class="row">
  <div class="col l6 s12">
<%= link_to "Login", new_user_session_path, :class => "btn-large cyan darken-3" %>
</div>
<div class="col l6 s12">
<%= link_to "Register", new_user_registration_path, :class => "btn-large cyan darken-3" %>
</div>
</div>
<% end %>
</div>
<br>
<div class="valign-wrapper">
  <div class="row">
      <div class="col s12">
        <div class="card-panel cyan darken-3">
          <span class="white-text">Info about the app
          </span>
        </div>
      </div>
    </div>
</div>
<div class="divider"></div>
<br>
<br>
    <div>
      <div class="row">
        <div class="col s12 l4">
          <div class="card large z-depth-5">
            <div class="card-image">
              <%=image_tag "brandon.jpeg"%>
              <span class="card-title cyan-text text-lighten-1"><h2><strong>Connect</strong></h2></span>
            </div>
            <div class="card-content">
              <p>Find and connect with other musicians</p>
            </div>
            <div class="card-action">
              <a href="#">Make Connections</a>
            </div>
          </div>
        </div>
        <div class="col s12 l4">
          <div class="card large z-depth-5">
            <div class="card-image">
              <%=image_tag "listing.jpg"%>
              <span class="card-title cyan-text text-lighten-1"><h2><strong>Postings</strong></h2></span>
            </div>
            <div class="card-content">
              <p>Search through postings from other musicians</p>
            </div>
            <div class="card-action">
              <a href="/boardcategories">Postings</a>
            </div>
          </div>
        </div>
        <div class="col s12 l4">
          <div class="card large z-depth-5">
            <div class="card-image">
              <%=image_tag "events.jpg"%>
              <span class="card-title cyan-text text-lighten-1"><h2><strong>Events</strong></h2></span>
            </div>
            <div class="card-content">
              <p>A listing of events and gigs from the musicians of Plugged-In</p>
            </div>
            <div class="card-action">
              <a href="#">Events</a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <footer class="page-footer cyan darken-4">
             <div class="container">
               <div class="row">
                 <div class="col l6 s12">
                   <h5 class="white-text">Plugged-In</h5>
                   <p class="grey-text text-lighten-4"></p>
                 </div>
                 <div class="col l4 offset-l2 s12">
                   <h5 class="white-text">Links</h5>
                   <ul>
                     <li><a class="grey-text text-lighten-3" href="#!">Info</a></li>
                     <li><a class="grey-text text-lighten-3" href="#!">Media</a></li>
                     <li><a class="grey-text text-lighten-3" href="#!">Contact</a></li>
                   </ul>
                 </div>
               </div>
             </div>
             <div class="footer-copyright">
               <div class="container">
               <a class="grey-text text-lighten-4 right" href="#!">More Links</a>
               </div>
             </div>
           </footer>
