<!DOCTYPE html>
<html>
<head>
  <title>PluggedIn</title>
  <meta name="action-cable-url" content="/cable"/>
  <%= csrf_meta_tags %>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>
<body>
  <nav>
    <% if user_signed_in? %>
    <div class="nav-wrapper cyan darken-3">
      <a class="waves-effect waves-light btn-large z-depth-5 cyan darken-3" id="button-collapse"data-activates="slide-out"><i class="large material-icons">menu</i></a>
      <ul id="slide-out" class="side-nav cyan darken-3">
        <li><div class="userView">
          <div class="background">
            <%=image_tag "studio1.jpg"%>
          </div>
          <a href="#!user"><%= image_tag current_user.avatar.url(:medium), :class =>"circle" %></a>
          <span class="cyan-text text-darken-3 name"><strong><%= current_user.username %></strong></span>
          <span class="cyan-text text-darken-3 email"><strong><%= current_user.email %></strong></span>
        </div></li>
        <li><a class="subheader"><%=current_user.slogan%></a></li>
          <div class="row">
            <div class="col s12 l12">
              <div class="card">
                <form action="/searches" method="get">
                  <div class="input-field">
                    <input id="search" type="search" name="keyword" required>
                    <label class="label-icon" for="search">
                    <i class="material-icons">search</i></label>
                  </div>
                </form>
              </div>
            </div>
          </div>
        <li><a href="/">Home<i class="large material-icons">stars</i></a></li>
        <li><a href="/users/<%=current_user.id%>">Bio<i class="large material-icons">perm_identity</i></a></li>

        <li><a href="/conversations">Messages<i class="large material-icons">message</i></a></li>
            <li class="no-padding">
                <ul class="collapsible collapsible-accordion">
                  <li>
                    <a class="collapsible-header">Connections<i class="tiny material-icons">settings_input_component</i></a>
                    <div class="collapsible-body">
                      <ul>
                        <%current_user.connections.each do |connection|%>
                        <li><a href="/users/<%=connection.connected_user.id%>">
                          <div class="relative">
                          <div class="profilecontainer"><%= image_tag connection.connected_user.avatar.url(:large), :class => "profimage"%></div></div>
                          <div class="relative">
                          <div class ="connectname black-text"><strong><%= connection.connected_user.username%></strong></div></a></div></li>
                        <li>
                          <div class="divider"></div></li>
                        <% end %>
                      </ul>
                    </div>
                  </li>
                </ul>
              </li>
        <li><a href="/boardcategories">Postings<i class="large material-icons">forum</i></a></li>
        <li><a href="#!">Chat<i class="large material-icons">chat</i></a></li>
        <li><div class="divider"></div></li>
        <li><%= link_to "Logout", destroy_user_session_path, :method => :delete, :class => "waves-effect"  %></li>
      </ul>
      <a href="#" data-activates="slide-out" class="button-collapse"><i class="material-icons">menu</i></a>
    </nav>
    <% else %>
    <nav>
      <div class="nav-wrapper cyan darken-3">
        <a class="waves-effect waves-light btn-large z-depth-5 cyan darken-3" id="button-collapse"data-activates="slide-out"><i class="large material-icons">menu</i></a>
        <ul id="slide-out" class="side-nav cyan darken-3">
          <li><div class="userView">
            <div class="background">
              <%=image_tag "studio1.jpg"%>
            </div>
            <a><%= image_tag "guest.png", :class =>"chip" %></a>
            <span class="cyan-text text-darken-3 name"><strong>Guest</strong></span>
          </div></li>
          <li><a class="subheader">This is Plugged-In</a></li>
            <div class="row">
              <div class="col s12 l12">
                <div class="card">
                  <form>
                    <div class="input-field">
                      <input id="search" type="search" name="keyword" required>
                      <label class="label-icon" for="search">
                      <i class="material-icons">search</i></label>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          <li><a href="/">Home<i class="large material-icons">stars</i></a></li>
          <li><a href="/boardcategories">Postings<i class="large material-icons">forum</i></a></li>
          <li><div class="divider"></div></li>
          <li><%= link_to "Login", new_user_session_path, :class => "waves-effect"  %></li>
        </ul>
        <a href="#" data-activates="slide-out" class="button-collapse"><i class="material-icons">menu</i></a>
      </nav>
    </nav>

    <% end %>
    <% if flash %>
      <% flash.each do |name, msg| %>

        <% if msg.class == Array %>
          <% msg.each do |message| %>
            <%= content_tag :div, message, :id => "flash_#{name}" %>
          <% end %>
        <% else %>

          <%= content_tag :div, msg, :id => "flash_#{name}" %>

        <% end %>
      <% end %>
    <% end %>
    <%= yield %>
  </body>
  </html>
